#header ul {
    	list-style-type: none;
   	margin: 0;
    	padding: 0;
    	overflow: hidden;
    	background-color: #333;
    	text-align: center;
}

#header li {
	display: inline-block;
}
#header li a {
	display: inline-block;
    	color: rgb(255, 255, 255);
    	text-align: center;
    	padding: 1em;
    	text-decoration: none;
}
#header li a:hover {
    	background-color: #d87878;
}

#main {
    margin-left: 2em;
    margin-right: 2em;
}

.center {
    text-align: center;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 70px;
  text-align: center;
  color: #FFFFFF;
}

body {
    margin: 0 auto;
    background-color: #222831;
    font-family: 'Source Sans Pro', sans-serif;
    color: #ececec;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#30475e;
}

nav li {
    position: center;
}

nav li a {
    color: #ececec;
    text-decoration: none;
    display: block;
    padding: 1em;
}

nav li a:hover {
    background-color: #233444;
}

nav li a.active {
    color: #30475e;
    background-color: #f2a365;
}

h2 {
    text-align: center;
}

td {
    padding: 1em;
}

div.about img {
  width: 400px;
  height: 418px;
}

div.chicago img {
  width: 240px;
  height: 180px;
}

#map {
    margin: 0 auto;
    height: 650px;
    width: 100%;
    color: #000000;
}

.googleMapsInfo {
    color: black;
    width: 320px;
}

.googleMapsInfo h2 {
    margin: 0.5em;
    margin-left: 0;
}

.slider{
  background-color: black;
  width: auto;
}

.slider img {
  margin: 0 auto;
  position: relative;
  margin: auto;
  overflow: hidden;
  vertical-align: middle;
}

/* Media Queries */
@media screen and (min-width: 600px) {

#header li a:hover {
  background-color: #2ca898;
}

#main
{
  background-color: #2ca898;
  width: 95%;
}

#nav ul:hover
{
  background-color: #3d3d3d;
}

h1{
  margin-left: 1.8em ;
}

h2{
  margin-left: 1.2em ;
}

}

@media screen and (min-width: 300px) {
#header li a:hover {
  background-color: #2ca898;
}

#main
{
  background-color: #e37f7f;
  width: 90%;
}

#main ul:hover
{
  background-color: #2e2e2e;
}

h1{
  margin-left: 2.0em ;
}

h2{
  margin-left: 1.4em ;
}
}
